$wht:#fff;
$rs:#F2668B;
$blu:#122459;
$ylw:#FFD037;
$bg:rgba(166, 158, 148, 0.5) !important;
h1,h3 {
    color:$ylw;
    font-size: 40px;
}
h1 span{
    color: $blu;
    font-size: 30px;
}
p{
    color:$wht;
    font-size:0px;
}
