$red:rgb(230, 0, 0);
$white:white;
$bg:rgba(32, 26, 26, 0.8);
h1,h3 {
    color:$white;
    font-size: 40px;
}
h1 span{
    color: $red;
    font-size: 30px;
}
p{
    color:$white;
    font-size:30px;
}
