

a.btn{
border-radius: 40px;
color: #fff;
display:block;
text-align: center;
text-decoration: none;       
}
a.btn {
background-color:#2E2892;
// border: 1px solid rgb( 33, 126, 74 );
}
        
a.btn:hover {
background-color: #274C77;
color:white;
}

