a.button{
    color:$red;
    padding: 20px 30px;
    width:200px;
    text-decoration:none;
    text-align:center;
    margin:0 auto;
    display: block;
    background-image: linear-gradient(to left,transparent,transparent 50%,red 50%,red);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .25s ease-in;
    font: 400 18px tahoma;
    border: 1px solid $red;
   }
   a.button:hover {
   background-position: 0 0;
   color: $white;
   }