button{
    color:$red;
    padding: 20px 30px;
    // width:200px;
    text-decoration:none;
    text-align:center;
    margin:0 auto;
    display: block;
    text-transform: capitalize;
    background-color: $bg;
    background-image: linear-gradient(to left,transparent,transparent 50%,$red 50%,$red);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .25s ease-in;
    font: 700 2vw tahoma;
    border: 3px solid $red;
    cursor: pointer;
   }
   button:hover {
   background-position: 0 0;
   color: $white;
   }