.v-navigation-wrapper{
  
}
.menu-wrap {
  top:0;
  left:0;
  z-index:1;
  align-items: center;
  // overflow:visible;
  padding: 10px 0;
  height: 70px;
  background-color: $bg;
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  position:fixed;
  width: 100%;
  button{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    border-color: transparent;
    background-image:none;
    background-color: transparent;
    border-radius: 5px;
  }
}
.menu-icon {
  font-size: 2.4em;
  color: $white;
  line-height: 50px;
}
nav {
  align-items: center;
  position: absolute;
  background-color: #ECEDEB;
  top:70px;
  left:0;
  width: 100%;
  text-align: center;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: bold;
}
nav ul {
  list-style-type: none;
}
nav ul li {
  padding: 0 15px;
}
nav ul li a {
  display: inline-block;
  padding: 12px;
  /* Добавьте ниже свои пользовательские стили, чтобы изменить отображение ссылок */
  color: $white;
  text-decoration: none;
  letter-spacing: 0.05em;
  text-transform: capitalize;
}
nav ul li a:hover, nav ul li a:focus {
  color: $red;
}

@media (min-width: 768px) {
  .menu-icon {
     display: none;
  }
 .button{
  display: none;
}
}
@media (min-width: 768px) {
  .menu-wrap{
    min-height: 120px;
  }
  nav {
    position: relative;
    top:-10px;
    background-color: transparent;

  }
  nav ul {
    max-height: 70px;
    padding: 15px 0;
    text-align: right;
  }
  nav ul li {
    display: inline-flex;
    padding-left: 20px;
  }
}
